
.fundoo{
      
    // margin: auto;
     font-weight: normal;
 .f{
     color:#3b86ff;
 }
 .u{
     color:#e60000;
 }
 .n{
     color:#e6ac00;
 }
 .d{
     color:#3b86ff;
 }
 .o{
     color:#00cc00;
 }
 
 }
 .mainCard{
    position: relative;
    margin-top: 60px;

}
.card{
    position: relative;
    margin-top: 15px;
    margin-bottom: 0px;
}
.table{
    table-layout: fixed;
}
.tablediv{  
    border: 2px solid ;
    
    overflow-x: hidden;
  
}

.tablediv::-webkit-scrollbar{
    width: 10px;
}
.acceptance{
    margin-top: 75px;
}