<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="d-flex justify-content-center">
        <h3 class="fundoo ">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="o1">o</span>
          <span class="o1"> &nbsp;</span>
          <span class="f">A</span>
          <span class="u">d</span>
          <span class="n">m</span>
          <span class="d">i</span>
          <span class="o">n</span>
        </h3>
      </div>
    </div>
    <button class="btn btn-danger navbar-btn">Logout</button>
  </div>
</nav>