<div class="main justify-content-center align-items-center d-flex">
  <div class="container d-flex  justify-content-center  d-sm-flex d-md-flex">
    <div class="jumbotron flex-column my-5 p-5 justify-content-center">
      <div class="d-flex justify-content-center">
        <h3 class="fundoo ">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="o1">o</span>
          <span class="o1"> &nbsp;</span>
          <span class="f">A</span>
          <span class="u">d</span>
          <span class="n">m</span>
          <span class="d">i</span>
          <span class="o">n</span>
        </h3>
      </div>
      <div class="row d-flex justify-content-center">
        <form>
          <div class="form-container  input-group-lg ">
            <label for="exampleInputEmail2">Email address</label>
            <input type="email" [formControl]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="email">
            <small *ngIf="email.invalid && (email.dirty || email.touched )" class=" alert1 alert alert-danger column d-flex justify-content-center">
              {{emailError()}}</small>
          </div>


          <div class="form-container input-group-lg">
            <label for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControl]='password'>
          </div>
          <div>
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class=" alert2 alert alert-danger column d-flex justify-content-center">
              {{passwordError()}}</small>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg" (click)="submit()">Submit</button>

          </div>
            <div>
          <!-- <p class="alert alert-danger d-flex justify-content-center" role="alert"> -->
            {{getErrorMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>