input{
    width: 240px;
    text-align: center;
    font-family: 'Play',sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    outline: none;
    }
    button[type=submit]:hover
{
    color: #fff;
.jumbotron{
    border: 1px solid #e0e0eb;
    transition: border 0.5s;
outline: none;
color: #fff;
    padding-top: 5%;
    border-radius: 15px;
    background-color: #FFFFFF;
    
   
}

.main{
    height: 100vh;
}
input
{
    width: 100%;
}



input:hover
{
    width: 102%;
}





.fundoo{
      
    // margin: auto;
     font-weight: normal;
 .f{
     color:#3b86ff;
 }
 .u{
     color:#e60000;
 }
 .n{
     color:#e6ac00;
 }
 .d{
     color:#3b86ff;
 }
 .o{
     color:#00cc00;
 }
 .o1{
     color:#e60000;
 }
 
 }

 label{
     color: white;
 }

.btn{

    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    
}
.alert{ 
    margin: 0%;
padding:0%;
    background: transparent;
    border: none;
}
}